.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  z-index: 2;
}

.header h1 {
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 50px;
  line-height: 2;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home li {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin-bottom: 20px;
  list-style: none;
}

.home li a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .home {
    text-align: center;
  }

  .home h1 {
    font-size: 2rem;
  }

  .home li {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
