.newCategory {
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 25% auto;
  padding: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.categoryName {
  width: 100%;
}

.form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}

.form input,
.form select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 1rem;
}

.form button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #40BFE7;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}

.form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form button:hover:not([disabled]) {
  background-color: #5aa6c0;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin: 0.5rem 0 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.subCategory {
  display: flex;
  flex-direction: column;
  width: 100%;
}
